@model NewTiceAI.Models.Account

@{
    ViewData["Title"] = "Create";
    Address? AcctAddress = new();
}


<h4 class="py-3 breadcrumb-wrapper mb-4"><span class="text-muted fw-light">Forms /</span> Add Account</h4>
<div class="row">
    <!-- FormValidation -->
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">New Account Information</h5>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!-- Account Details -->
                    <div class="row">
                        <div class="col-12">
                            <h6 class="fw-normal">Account Details</h6>
                            <hr class="mt-0" />
                        </div>

                        <div class="col-12 col-md-6">
                            <label class="form-label" asp-for="Name"></label>
                            <input asp-for="Name"
                                   class="form-control"
                                   placeholder="Account Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6 pb-4">
                            <label class="form-label" asp-for="EmailAddress">Email</label>
                            <input class="form-control"
                                   asp-for="EmailAddress"
                                   placeholder="account@email.com" />
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="col-12 pb-5">
                            <div class="row g-3">

                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-0" asp-for="@AcctAddress.Address1">Address</label>
                                    <input asp-for="@AcctAddress.Address1"
                                           class="form-control"
                                           placeholder="Address" />
                                    <span asp-validation-for="@AcctAddress.Address1" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-0" asp-for="@AcctAddress.Address2">Apartment, suite, etc.</label>
                                    <input asp-for="@AcctAddress.Address2"
                                           class="form-control"
                                           placeholder="Apartment, suite, etc." />
                                    <span asp-validation-for="@AcctAddress.Address2" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-4">
                                    <label class="form-label mb-0" asp-for="@AcctAddress.City">City</label>
                                    <input asp-for="@AcctAddress.City" class="form-control" placeholder="City" />
                                    <span asp-validation-for="@AcctAddress.City" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-4">
                                    <label class="form-label mb-0" asp-for="@AcctAddress.State">State</label>
                                    <select asp-for="@AcctAddress.State" class="form-select" asp-items="@Html.GetEnumSelectList<States>()">
                                        <option></option>
                                    </select>
                                    <span asp-validation-for="@AcctAddress.State" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-4">
                                    <label class="form-label mb-0" asp-for="@AcctAddress.ZipCode">Postal Code</label>
                                    <input asp-for="@AcctAddress.ZipCode"
                                           class="form-control"
                                           placeholder="Postal Code"
                                           min="0"
                                           max="999999" />
                                    <span asp-validation-for="@AcctAddress.ZipCode" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-0" asp-for="LegalName">Legal business name</label>
                                    <input asp-for="LegalName" class="form-control" placeholder="Business name" />
                                    <span asp-validation-for="LegalName" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-label mb-0" asp-for="CountryRegion">Country/region</label>
                                    <select asp-for="CountryRegion" class=" form-select" asp-items="@Html.GetEnumSelectList<EnumCountryRegion>()">
                                        <option></option>
                                    </select>
                                    <span asp-validation-for="CountryRegion" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <hr />
                        <div class="col-md-6">
                            <label class="form-label" asp-for="Website">Web Site</label>
                            <input asp-for="Website"
                                   class="form-control flatpickr-validation" />
                            <span asp-validation-for="Website" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" asp-for="AnnualRevenue">Annual Revenue</label>
                            <input asp-for="AnnualRevenue"
                                   class="form-control invoice-item-price mb-2"
                                   placeholder="0.00" />
                            <span asp-validation-for="AnnualRevenue" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label class="form-label" asp-for="Description">Description</label>
                            <textarea asp-for="Description"
                                      class="form-control"
                                      rows="6"
                                      placeholder="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <!-- Account Type -->
                        <div class="col-12">
                            <h6 class="mt-2 fw-normal">Account Type</h6>
                            <hr class="mt-0" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label" asp-for="AccountType"></label>
                            <select asp-for="AccountType" class="form-select" asp-items="@Html.GetEnumSelectList<EnumAccountType>()">
                                <option value="">Select Account Type</option>
                            </select>
                            <span asp-validation-for="AccountType" class="text-danger"></span>
                        </div>

                        <div class="col-12 pb-3">
                            <label class="switch switch-primary">
                                <input type="checkbox" class="switch-input" name="isInstitution" />
                                <span class="switch-toggle-slider">
                                    <span class="switch-on"></span>
                                    <span class="switch-off"></span>
                                </span>
                                <span class="switch-label">Create as Institution</span>
                            </label>
                        </div>

                        <div class="col-12">
                            <button type="submit" name="submitButton" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /FormValidation -->
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
