@using NewTiceAI.Helpers
@model ActionItem

@inject UserManager<TAUser> _UserManager
@inject IActionProjectService _ActionProjectService
@inject IBTFileService FileService


@{
    ViewData["Title"] = "Details";
    //TAUser? btUser = await _UserManager.GetUserAsync(User);
}

@* <h4 class="py-3 breadcrumb-wrapper mb-4">
    <span class="text-muted fw-light">eCommerce / Customer Details /</span> Overview
</h4> *@
<div class="mb-3">
    <label for="ecommerce-product-tags" class="form-label mb-1"> <span class="text-danger">(development & design testing)</span></label>
</div>
<div class="d-flex flex-column flex-sm-row align-items-center justify-content-sm-between mb-4 text-center text-sm-start gap-2">
    <div class="mb-2 mb-sm-0">
        <h4 class="mb-1">Opportunity Details</h4>
        <p class="mb-0">@Model.Created.ToString("MMM dd, yyyy, hh:mm tt")</p>
    </div>
    <button type="button" class="btn btn-label-danger delete-customer">Archive Opportunity</button>
</div>

<div class="row">
    <!-- Customer-detail Sidebar -->
    <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
        <!-- Customer-detail Card -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="customer-avatar-section">
                    <div class="d-flex align-items-center flex-column">
                        <img class="img-fluid rounded my-3"
                             src="@(Model.Contact?.ImageId == null ? FileUploader.DefaultUserImage : $"/api/uploads/{Model.Contact.ImageId}")"
                             height="110"
                             width="110"
                             alt="User avatar" />
                        <div class="customer-info text-center">
                            <h4 class="mb-1">@Model.Contact?.FullName</h4>
                            <small>Opportunity Contact</small>
                        </div>
                        <label class="form-label mb-0"> <span class="text-danger">(development & design testing)</span></label>
                    </div>
                </div>
                <div class="d-flex justify-content-around flex-wrap mt-4 py-3">
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar">
                            <div class="avatar-initial rounded bg-label-primary">
                                <i class="bx bx-cart-alt bx-sm"></i>
                            </div>
                        </div>
                        <div>
                            <h5 class="mb-0">184</h5>
                            <span>Orders</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <div class="avatar">
                            <div class="avatar-initial rounded bg-label-primary">
                                <i class="bx bx-dollar bx-sm"></i>
                            </div>
                        </div>
                        <div>
                            <h5 class="mb-0">$0</h5>
                            <span>Spent</span>
                        </div>
                    </div>
                </div>

                <div class="info-container">
                    <small class="d-block pt-4 border-top fw-normal text-uppercase text-muted my-3">DETAILS</small>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <span class="fw-medium me-2">Account Name:</span>
                            <span>@Model.Account?.Name</span>
                        </li>
                        <li class="mb-3">
                            <span class="fw-medium me-2">Email:</span>
                            <span>@Model.Contact?.Email</span>
                        </li>
                        <li class="mb-3">
                            <span class="fw-medium me-2">Status:</span>
                            <span class="badge bg-label-success">Active</span>
                        </li>
                        <li class="mb-3">
                            <span class="fw-medium me-2">Phone:</span>
                            <span>@Model.Contact?.PhoneNumber</span>
                        </li>

                        <li class="mb-3">
                            <span class="fw-medium me-2">Country:</span>
                            <span>USA</span>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-center">
                        <a href="javascript:;"
                           class="btn btn-primary me-3"
                           data-bs-target="#editUser"
                           data-bs-toggle="modal">Edit Details</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Customer-detail Card -->
        <!-- Plan Card -->

        <div class="card mb-4 bg-gradient-primary">
            <div class="card-body">
                <div class="row justify-content-between mb-3">
                    <div class="col-md-12 col-lg-7 col-xl-12 col-xxl-7 text-center text-lg-start text-xl-center text-xxl-start order-1 order-lg-0 order-xl-1 order-xxl-0">
                        <h4 class="card-title text-white text-nowrap">Upgrade to premium</h4>
                        <p class="card-text text-white">
                            Upgrade customer to premium membership to access pro features.
                        </p>
                    </div>
                    <span class="col-md-12 col-lg-5 col-xl-12 col-xxl-5 text-center mx-auto mx-md-0 mb-2">
                        <img src="../../assets/img/illustrations/rocket.png" class="w-px-75 m-2" alt="3dRocket" />
                    </span>
                </div>
                <button class="btn btn-white text-primary w-100 fw-medium shadow-sm"
                        data-bs-target="#upgradePlanModal"
                        data-bs-toggle="modal">
                    Upgrade to premium
                </button>
            </div>
        </div>

        <!-- /Plan Card -->
    </div>
    <!--/ Customer Sidebar -->
    <!-- Customer Content -->
    <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
        <!-- Customer Pills -->
        @*         <ul class="nav nav-pills flex-column flex-md-row mb-3">
        <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i>Overview</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="app-ecommerce-customer-details-security.html"><i class="bx bx-lock-alt me-1"></i>Security</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="app-ecommerce-customer-details-billing.html"><i class="bx bx-detail me-1"></i>Address & Billing</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="app-ecommerce-customer-details-notifications.html"><i class="bx bx-bell me-1"></i>Notifications</a>
        </li>
        </ul>
        *@        <!--/ Customer Pills -->
        <!-- / Customer cards -->
        <div class="row text-nowrap">
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-icon mb-3">
                            <div class="avatar">
                                <div class="avatar-initial rounded bg-label-primary">
                                    <i class="bx bx-dollar bx-sm"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-info">
                            <h4 class="card-title mb-3">Amount</h4>
                            <div class="d-flex align-items-end mb-1 gap-1">
                                <h4 class="text-primary mb-0">@* @(Model.Amount.ToString("C")) *@$@Model.Amount</h4>
                                <p class="mb-0"></p>
                            </div>
                            <p class="text-muted mb-0 text-truncate">Additional Descriptive text here.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-icon mb-3">
                            <div class="avatar">
                                <div class="avatar-initial rounded bg-label-success">
                                    <i class="bx bx-category-alt bx-sm"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-info">
                            <h4 class="card-title mb-3">Type </h4>
                            <span class="badge bg-label-success mb-1">@Model.OpportunityType.ToString()</span>
                            <p class="text-muted mb-0">Additional Descriptive text here.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-icon mb-3">
                            <div class="avatar">
                                <div class="avatar-initial rounded bg-label-warning">
                                    <i class="bx bx-line-chart bx-sm"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-info">
                            <h4 class="card-title mb-3">Forecast</h4>
                            <span class="badge bg-label-warning mb-1">@Model.OpportunityForecastCategory.ToString()</span>
                            @*                             <div class="d-flex align-items-end mb-1 gap-1">
                            <h4 class="text-warning mb-0">15</h4>
                            <p class="mb-0">Items in wishlist</p>
                            </div> *@
                            <p class="text-muted mb-0">Additional Descriptive text here.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-icon mb-3">
                            <div class="avatar">
                                <div class="avatar-initial rounded bg-label-info">
                                    <i class="bx bx-tachometer bx-sm"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-info">
                            <h4 class="card-title mb-3">Stage</h4>
                            <span class="badge bg-label-info mb-1">@Model.OpportunityStage.ToString()</span>
                            @*                             <div class="d-flex align-items-end mb-1 gap-1">
                            <h4 class="text-info mb-0">21</h4>
                            <p class="mb-0">Coupons you win</p>
                            </div> *@

                            <p class="text-muted mb-0 text-truncate">Additional Descriptive text here.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- / customer cards -->
        <!-- Invoice table -->
        <div class="card mb-4">
            <div class="mb-3">
                <div class="card m-0">
                    <div class="card-body">
                        <div id="notes-toolbar">
                            <span class="ql-formats">
                                <select class="ql-font"></select>
                                <select class="ql-size"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-script" value="sub"></button>
                                <button class="ql-script" value="super"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-header" value="1"></button>
                                <button class="ql-header" value="2"></button>
                                <button class="ql-blockquote"></button>
                                <button class="ql-code-block"></button>
                            </span>
                        </div>
                        <div id="notes-editor" for="@Model.Notes">
                            <h6>Quill Rich Text Editor</h6>
                            <p>
                                @Model.Notes
                            </p>
                        </div>
@*                         <textarea asp-for="@ActionItem.Notes" name="Notes" class="form-control message-input" placeholder="Say it" rows="5" hidden></textarea>
 *@                    </div>
                </div>

            </div>
        </div>
        <!-- /Invoice table -->
    </div>
    <!--/ Customer Content -->
</div>

<!-- Modal -->
<!-- Edit User Modal -->
<div class="modal fade" id="editUser" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3>Edit Opportunity Information</h3>
                    <p>Updating user details will receive a privacy audit.</p>
                </div>
                <form asp-action="Edit" asp-controller="ActionItems">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label class="form-label" for="contact">Contact</label>
                        <select asp-for="ContactId" class=" form-control" asp-items="ViewBag.ContactId">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="account">Account</label>
                        <select asp-for="AccountId" class=" form-control" asp-items="ViewBag.AccountId">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input asp-for="Title" class="form-control" placeholder="Opportunity Name" aria-label="Opportunity Name" />
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" asp-for="Amount"
                                   class="form-control"
                                   placeholder="Amount"
                                   aria-label="Amount (to the nearest dollar)" />
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="closedDate">Closed Date</label>
                        <input class="form-control"
                               asp-for="ClosedDate"
                               placeholder="Closed Date" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="stage">Stage</label>
                        <select asp-for="OpportunityStage" class=" form-select" asp-items="@Html.GetEnumSelectList<OpportunityStage>()">
                            <option></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="forecast">Forecast</label>
                        <select asp-for="OpportunityForecastCategory" class=" form-select" asp-items="@Html.GetEnumSelectList<OpportunityForecastCategory>()">
                            <option></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="type">Type</label>
                        <select asp-for="OpportunityType" class=" form-select" asp-items="@Html.GetEnumSelectList<OpportunityType>()">
                            <option></option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <div class="input-group input-group-merge form-send-message">
                            <textarea asp-for="Notes" class="form-control message-input" placeholder="Say it" rows="5"></textarea>
                            <span class="message-actions input-group-text">
                                <i class="bx bx-microphone cursor-pointer speech-to-text"></i>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">Submit</button>
                    <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/ Edit User Modal -->
<!-- Add New Credit Card Modal -->
<div class="modal fade" id="upgradePlanModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-simple modal-upgrade-plan">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3>Upgrade Plan</h3>
                    <p>Choose the best plan for user.</p>
                </div>
                <form id="upgradePlanForm" class="row g-3" onsubmit="return false">
                    <div class="col-sm-9">
                        <label class="form-label" for="choosePlan">Choose Plan</label>
                        <select id="choosePlan" name="choosePlan" class="form-select" aria-label="Choose Plan">
                            <option selected>Choose Plan</option>
                            <option value="standard">Standard - $99/month</option>
                            <option value="exclusive">Exclusive - $249/month</option>
                            <option value="Enterprise">Enterprise - $499/month</option>
                        </select>
                    </div>
                    <div class="col-sm-3 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary">Upgrade</button>
                    </div>
                </form>
            </div>
            <hr class="mx-md-n5 mx-n3" />
            <div class="modal-body">
                <h6 class="mb-0">User current plan is standard plan</h6>
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="d-flex justify-content-center me-2 mt-3">
                        <sup class="h5 pricing-currency pt-1 mt-3 mb-0 me-1 text-primary">$</sup>
                        <h1 class="display-3 mb-0 text-primary">99</h1>
                        <sub class="h5 pricing-duration mt-auto mb-2">/month</sub>
                    </div>
                    <button class="btn btn-label-danger cancel-subscription mt-3">Cancel Subscription</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Add New Credit Card Modal -->
<!-- /Modal -->
@section scripts {
    <script>
        (function () {
            // Snow Theme
            // --------------------------------------------------------------------
            const snowEditor = new Quill('#notes-editor', {
                bounds: '#notes-editor',
                modules: {
                    formula: true,
                    toolbar: '#notes-toolbar'
                },
                theme: 'snow'
            });

            var form = document.querySelector('form');
            form.onsubmit = function () {
                // Populate hidden form on submit
                var notes = document.querySelector('input[name=actionItem.Notes]');
                notes.value = snowEditor.getContents();
            };
        })();

    </script>


    @*     <script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
    <script>
        if ($('.editor').length > 0) {
            ClassicEditor
                .create(document.querySelector('.editor'), {
                    toolbar: {
                        items: [
                            'heading', '|',
                            'fontfamily', 'fontsize', '|',
                            'alignment', '|',
                            'fontColor', 'fontBackgroundColor', '|',
                            'bold', 'italic', 'strikethrough', 'underline', 'subscript', 'superscript', '|',
                            'link', '|',
                            'outdent', 'indent', '|',
                            'bulletedList', 'numberedList', 'todoList', '|',
                            'code', 'codeBlock', '|',
                            'insertTable', '|',
                            'uploadImage', 'blockQuote', '|',
                            'undo', 'redo'
                        ],
                        shouldNotGroupWhenFull: true
                    }
                })
                .then(editor => {
                    window.editor = editor;
                })
                .catch(err => {
                    console.error(err.stack);
                });
        }

    </script> *@
}